@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: grey;
}
.iphone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 380px;
    height: 700px;
    border-radius: 50px;
    background-color: #050505;
    align-items: flex-end;
}


#result {
    position: absolute;
    top: 100px;
    margin-right: 20px;
    color: white;
    font-size: 100px;
    font-weight: 100;
    text-align: right;
    width: 350px;
    height: 120px;
}

.calculator-btn {
    display: flex;
    align-items: space-between;
    margin-bottom: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 77px;
    border-radius:50px;
    border: none;
    background: #323232;
    font-size: 39px;
    color: white;
    margin: 6px;
    cursor: pointer;
    transition: .6s;
}

.btn:hover {
    background: #3A393A;
}

#btn-right {
    background: #FE9500;
}

#btn-right:hover {
    background: #FFB449;
}

#zero-btn {
    width:170px;
    padding-right: 89px;
}

#btn-top {
    color: black;
    background: #A5A5A5;
}

#btn-top:hover {
    background: #8E8E8E;
}

.bottom {
    width: 150px;
    height: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.back-btn {
    position: absolute;
    font-size: 7rem;
    color: white;
    left: 2rem;
    bottom: 5rem;
    transition: .3s;
    background: black;
    border-radius: 50%;
    animation: none;
}

.back-btn-caption {
    font-weight: bold;
    position: absolute;
    left: 3.7rem;
    bottom: 3rem;
}